body {
  font-family:  'Marcellus SC', serif;
  background-image:url("http://wallpaperus.org/wallpapers/04/133/coliseum-hdr-1600x939-wallpaper-1683138.jpg");
  color: #FFD34E;
}
article {
  width: 400px;
  height: 400px;
  display: inline;
}


img {
  width: 350px;
  height: 350px;
  -webkit-box-shadow: 0 0 50px #000000;

}



#kittenTable{
  background-color: gray;
  radius: 100%;
}

#image2:hover {
  -webkit-box-shadow: 0 0 50px #ffff00;
}

#image1:hover {
  -webkit-box-shadow: 0 0 50px #ff0000;
}

header {
  text-align: center;
}

.content {
  margin-left: 10%;
  position: fixed;
}

#button {
  margin-left: 23%;
  font-family:  'Marcellus SC', serif;
  color: red;
  display: hidden;
}

button {
  width: 50em;
  height: 5em;
}
